.benefits {

		&__container {

      @media (max-width: 1100px) {
        text-align: center;
      }
		}

		&__title {
		}

		&__descr {
		}

		&__list {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: clamp(48px, 2.393rem + 2.49vw, 80px);
      margin-top: clamp(60px, -3.877rem + 8.47vw, 80px);

      @media (max-width: 1100px) {
        display: flex;
        flex-direction: column;
      }
		}
}
