.benefits-item {
  position: relative ;
  display: flex;
  flex-direction: column;
  padding: clamp(24px, 0.439rem + 4.35vw, 80px);
  border-radius: clamp(40px, -1.314rem + 4.24vw, 50px) clamp(14px, -1.413rem + 2.54vw, 20px);

  &::before {
    position: absolute;
    z-index: 2;
    content: '';
    inset: 0;
    background: 
      linear-gradient(106.06deg, rgba(202, 255, 51, 0.05) -29.45%, rgba(202, 255, 51, 0) 27.86%), 
      linear-gradient(267.5deg, #1C1C1C 40.67%, rgba(28, 28, 28, 0) 99.81%), 
      url(../img/bg/texture.webp),
      #1C1C1C;
    border-radius: inherit;
  }

  &::after {
    position: absolute;
    z-index: 1;
    content: '';
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(280.49deg, rgba(202, 255, 51, 0.1) 0%, 
    rgba(38, 38, 38, 0) 17.02%, rgba(38, 38, 38, 0) 68.88%,
     rgba(38, 38, 38, 0.8) 100%);
  }

  &>* {
    position: relative;
    z-index: 3;
  }

  &__top {
    display: flex;
    gap: clamp(10px, 0.435rem + 0.78vw, 20px);
    align-items: center;
    margin-bottom: clamp(20px, 1.060rem + 0.78vw, 30px);
  }

  &__title {
    font-weight: 400;
    font-size: clamp(18px, 1.011rem + 0.47vw, 24px);
    color: #FFFFFF;
  }

  &__text {
  }
}
