.btn {
  display: inline-flex;

  font-weight: 400;
  font-size: clamp(14px, 0.799rem + 0.31vw, 18px);
  color: #1C1C1C;
  padding: 1em 1.67em;
  background: #CAFF33;
  border-radius: 100ch;
  transition: .2s ease;

  @media (any-hover: hover) {
    &:hover {
      background: #D8FF66;
    }
  }
}
