.cases-list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: clamp(20px, 1.060rem + 0.78vw, 30px) clamp(14px, 0.572rem + 1.24vw, 30px);
  gap: clamp(10px, 0.435rem + 0.78vw, 20px);

  &::before {
    position: absolute;
    content: '';
    inset: 0;
    background: url(../img/bg/bg2.svg) no-repeat, #1C1C1C;
    background-size: clamp(118px, 5.366rem + 8.24vw, 224px);
    border-radius: 20px;
  }

  &>* {
    position: relative;
  }

  &__item {
    text-align: center;
    padding: clamp(20px, 1.060rem + 0.78vw, 30px);
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: clamp(12px, 0.674rem + 0.31vw, 16px);
  }

  &__item-icon {
    width: clamp(64px, -1.339rem + 5.93vw, 78px);
    height: clamp(64px, -1.339rem + 5.93vw, 78px);

    svg {
      width: 38%;
      height: 38%;
    }
  }

  &__item-title {
    font-weight: 400;
    font-size: clamp(14px, 0.761rem + 0.47vw, 20px);
    margin-top: 1.2em;
    color: #FFFFFF;
  }
}