.cases {

		&__container {
		}

    .title {
      margin-bottom: .29em;
    }

		&__text {
		}

		&__content {
      margin-top: clamp(60px, 3.371rem + 1.56vw, 80px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: clamp(40px, -5.127rem + 8.47vw, 60px) clamp(60px, -11.504rem + 16.95vw, 100px);

      @media (max-width: 1370px) {
        display: flex;
        flex-direction: column;
      }

      .cases-list:nth-child(3) {
        grid-column: 2;
        grid-row: 2;

        &::before {
          transform: scaleX(-1);

          @media (max-width: 1370px) {
            transform: none;
          }
        }
      }
      .cases-content:nth-child(4) {
        grid-column: 1;
        grid-row: 2;
      }
		}
}
