.cases-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @media (max-width: 615px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: clamp(20px, 1.060rem + 0.78vw, 30px);
    color: #FFFFFF;
    margin-bottom: .47em;
  }

  &__text {
  }

  &__list {
    margin: 50px 0;
    display: flex;
    gap: 60px;

    @media (max-width: 615px) {
      flex-direction: column;
    }
  }

  &__percent {
    display: flex;
    flex-direction: column;
  }

  &__percent-num {
    font-weight: 500;
    font-size: clamp(40px, -4.364rem + 7.63vw, 58px);
    color: #CAFF33;
    margin-bottom: .09em;
  }

  &__percent-text {
  }

  &__btn {
    padding: 1em 1.33em;
    background: #1C1C1C;
    border: 1px solid #262626;
    color: white;

    @media (any-hover: hover) {
      &:hover {
        color: #1C1C1C;
      }
    }
  }
}
