.cta {
  display: flex;
  align-items: center;
  gap: clamp(20px, -2.564rem + 4.24vw, 30px);

  &__signup-btn {
    font-weight: 400;
    font-size: clamp(14px, -0.650rem + 1.69vw, 18px);
    color: #FFFFFF;
    padding: 0;
    background: transparent;
    transition: .2s ease;

    @media (any-hover: hover) {
      &:hover {
        color: #D8FF66;
      }
    }
  }

  &__login-btn {
    font-weight: 400;
    font-size: clamp(14px, -0.650rem + 1.69vw, 18px);
    padding: .78em 1.67em;
  }
}