.faq {

		&__container {
      display: flex;
      flex-direction: column;
		}

		&__title {
		}

		&__descr {
		}

		&__list {
      position: relative;
      margin-top: clamp(50px, 2.556rem + 2.33vw, 80px);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: clamp(20px, -2.564rem + 4.24vw, 30px);
      overflow: hidden;
      max-height: clamp(659px, 2.671rem + 42.80vw, 760px);
      transition: .4s ease;

      @media (max-width: 1130px) {
        display: flex;
        flex-direction: column;
        max-height: 1379px;
      }

      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 36%;
        max-height: 275px;
        transition: .2s ease;
        opacity: 1;
        background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #1A1A1A 100%);
      }

      &._opened {
        max-height: 10000px;
      }

      &._opened::before {
        opacity: 0;
        pointer-events: none;
      }
		}

    &__btn {
      align-self: center;

      &:disabled {
        display: none;
      }
    }
}
