.faq-item {
  padding: clamp(30px, 1.496rem + 1.56vw, 50px);
  border: 1px solid #262626;
  border-radius: clamp(10px, 0.549rem + 0.31vw, 14px);

  &__title {
    font-weight: 500;
    font-size: clamp(18px, 1.087rem + 0.16vw, 20px);
    line-height: normal;
    color: #FFFFFF;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #262626;
  }

  &__text {
  }
}
