.hero {
  padding-top: clamp(10px, -1.081rem + 7.00vw, 100px);
  margin-bottom: clamp(100px, 1.696rem + 13.30vw, 250px);

  &::before {
    position: absolute;
    content: '';
    top: 0vh;
    left: 0vw;
    right: 0vw;
    bottom: 0;
    z-index: 1;
    background: url(../img/bg/bg.webp) no-repeat;
    background-size: clamp(382px, 16.729rem + 29.32vw, 759px);
  }

	&__container {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 80px clamp(100px, -1.377rem + 8.47vw, 120px);

    @media (max-width: 1170px) {
      flex-direction: column;
    }
	}

	&__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1170px) {
      align-items: center;
      text-align: center;
    }
	}

  .title {
    margin-top: .42em;
    margin-bottom: .29em;
  }

	&__text {
    margin-bottom: clamp(30px, 1.685rem + 0.78vw, 40px);
	}

	&__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: clamp(120px, 1.780rem + 6.36vw, 135px);

    @media (max-width: 1170px) {
      margin-right: 0;
    }
	}
}
