.job {
  padding: clamp(24px, 1.007rem + 2.02vw, 50px);
  background: #1C1C1C;
  border: 1px solid #262626;
  border-radius: 16px;
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 600;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: .47em;
  }

  &__tags {
    display: flex;
    gap: 6px clamp(8px, -0.263rem + 0.85vw, 10px);
    flex-wrap: wrap;
    margin-bottom: clamp(30px, 1.496rem + 1.56vw, 50px);
  }

  &__tag {
  }

  &__subtitle {
    font-weight: 600;
    font-size: clamp(18px, 1.011rem + 0.47vw, 24px);
    margin-bottom: .83em;
    color: #FFFFFF;
  }

  &__descr {
    margin-bottom: 2.22em;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: clamp(14px, 0.761rem + 0.47vw, 20px);
    margin-bottom: auto;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: clamp(8px, 0.462rem + 0.16vw, 10px);

    svg {
      flex: 0 0 auto;
    }
  }

  &__btn {
    margin-top: clamp(30px, 1.496rem + 1.56vw, 50px);
    align-self: flex-start;
  }
}
