.mini-app {
  position: relative;
  width: clamp(305px, 15.082rem + 16.33vw, 515px);
  
  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-size: clamp(14px, 0.818rem + 0.23vw, 17px);
    padding: 2.06em;
    border-radius: 0.59em;
    border: 1px solid transparent;
    background: 
      linear-gradient(214.24deg, rgba(202, 255, 51, 0) 91.73%, 
      rgba(202, 255, 51, 0.2) 99.95%) border-box, 
      linear-gradient(214.24deg, rgba(202, 255, 51, 0.2) 0%, 
      rgba(202, 255, 51, 0) 11.24%) border-box, 
      #262626 border-box;


    &::before {
      position: absolute;
      z-index: 3;
      content: '';
      inset: 0;
      margin: 1px;
      border-radius: inherit;
      
      background: 
        linear-gradient(214.85deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 39.72%), 
        url(../img/bg/texture.webp), 
        #1A1A1A;
      background-size: 17.12em auto;
      
    }

    * {
      position: relative;
      z-index: 3;
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    width: clamp(220px, 9.997rem + 15.40vw, 418px);
    right: -187px;
    top: 10px;

    @media (max-width: 1440px) {
      right: -131px;
      top: -6px;
    }

    @media (max-width: 460px) {
      right: -21px;
      top: -61px;
    }
  }

  .income {
    position: absolute;
    z-index: 4;
    top: -2.53em;
    left: -3.59em;

    @media (max-width: 410px) {
      left: -10px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: inherit;
    color: #FFFFFF;
    margin-bottom: 1em;
  }

  &__transactions {
    margin-bottom: 1.53em;

    .transaction {
      transform-origin: top center;
      
      &:nth-child(2) {
        margin-top: -1.5em;
        z-index: -1;
        transform: scale(.92);
        opacity: 50%;
      }

      &:nth-child(3) {
        margin-top: -1.5em;
        z-index: -2;
        opacity: 20%;
        transform: scale(.84);
      }
    }
  }

  .support-currency {
    position: absolute;
    z-index: 4;
    right: -3.25em;
    bottom: -.81em;
    transform: translateY(100%);

    @media (max-width: 410px) {
      right: -10px;
    }
  }
}