.post-tabs {
  margin-top: clamp(50px, 2.556rem + 2.33vw, 80px);
  display: flex;
  gap: 20px clamp(20px, -2.564rem + 4.24vw, 30px);

  @media (max-width: 1260px) {
    flex-direction: column;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    padding: 50px;
    min-width: 308px;
    padding: clamp(40px, -1.314rem + 4.24vw, 50px);
    gap: 20px;
    background: #1C1C1C;
    border-radius: 10px;
    align-self: flex-start;

    @media (max-width: 1260px) {
      flex-direction: row;
      padding: 20px;
      align-self: stretch;
      overflow-y: auto;
    }
  }

  &__btn {
    padding: clamp(14px, -2.939rem + 4.24vw, 24px) clamp(20px, -0.275rem + 1.69vw, 24px);
    white-space: nowrap;
    text-align: left;
    justify-content: flex-start;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 100ch;
    color: white;

    &._active {
      color: #CAFF33;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #CAFF33;
        background: #1A1A1A;
      }
    }
  }

  &__content {
    display: none;
    grid-template-columns: 1fr 1fr;
    gap: clamp(20px, -2.564rem + 4.24vw, 30px);

    &._active {
      display: grid;
    }

    @media (max-width: 740px) {
      display: none;
      flex-direction: column;

      &._active {
        display: flex;
      }
    }
  }
}
