.release {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #1C1C1C;
  border: 1px solid #262626;
  border-radius: 40px 40px 16px 16px;

  img {
    border-radius: 30px 30px 12px 12px;
    height: clamp(206px, 10.468rem + 9.88vw, 333px);
    object-fit: cover;
    object-position: center;
    filter: grayscale(1);
  }

  &__title {
    font-weight: 400;
    font-size: clamp(18px, 1.011rem + 0.47vw, 24px);
    color: #FFFFFF;
    margin-bottom: .83em;
    margin-top: 2.08em;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px clamp(6px, 0.299rem + 0.31vw, 10px);
  }

  &__text {
    margin-top: 1.67em;
  }
}
