.support-currency {
  display: inline-flex;
  width: max-content;
  align-items: center;
  padding: .56em .56em .56em 1.31em;
  gap: .56em;
  background: #22251B;
  border-radius: 100ch;
  font-size: clamp(9px, 0.430rem + 0.54vw, 16px);

  &__label {
    font-weight: 400;
    font-size: inherit;
    color: #FFFFFF;
  }

  &__icons {
    font-size: inherit;
    display: flex;
    padding: .56em;
    gap: .44em;
    background: #1A1A1A;
    border: 1px solid #262626;
    border-radius: 100ch;

    svg {
      // font-size: inherit;
      height: 2.19em;
      width: auto;
    }
  }
}