.testim {

  &__slider {
    position: relative;
  }

  .swiper {
    position: relative;
    overflow-x: hidden;
    touch-action: pan-y;
    display: flex;
    margin: 0 112px;

    &::before, &::after {
      pointer-events: none;
      position: absolute;
      z-index: 3;
      content: '';
      top: 0;
      bottom: 0;
      width: 33%;
      background: linear-gradient(270deg, #1A1A1A 10.8%, rgba(25, 25, 25, 0) 105.84%);
    }

    &::before {
      left: 0;
      transform: scaleX(-1);
    }

    &::after {
      right: 0;
    }

    @media (max-width: 850px) {
      margin: 0;
    }
  }

  .swiper-wrapper {
    display: flex;
  }

  &__slider-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    @media (max-width: 850px) {
      margin-top: 30px;
    }
  }

  &__slider-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    &:disabled {
      opacity: 0;
      pointer-events: none;
    }

    &:nth-child(2) {
      left: auto;
      right: 0;

      svg {
        transform: scaleX(-1);
      }
    }

    @media (max-width: 850px) {
      position: static;
      transform: none;
    }
  }
}
