.testim-item {
  text-align: center;

  &__icon {
    display: flex;
    align-items: center;

    svg {
      height: clamp(44px, -3.352rem + 6.78vw, 60px);
      width: auto;
      margin: 0 clamp(16px, -0.525rem + 1.69vw, 20px);
    }

    &::before, &::after {
      content: '';
      display: block;
      flex: 1 0 auto;
      height: 0;
      border-bottom: 1px solid #262626;
    }
  }

  &__text {
    font-weight: 400;
    color: #FFFFFF;
    margin: clamp(30px, 1.496rem + 1.56vw, 50px);
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    color: #CAFF33;
  }
}
