.transaction {
  font-size: clamp(9px, 0.430rem + 0.54vw, 16px);
  display: flex;
  padding: .88em 1.31em;
  gap: .56em;
  background: #1C1C1C;
  border: 1px solid #262626;
  border-radius: .63em;
  align-items: center;

  svg {
    height: 2.38em;
  }

  &__middle {
    font-size: inherit;
  }

  &__label {
    font-size: inherit;
    font-weight: 300;
    color: #FFFFFF;
  }

  &__name {
    font-weight: 400;
    font-size: 1.1em;
    color: #FFFFFF;
  }

  &__num {
    font-weight: 500;
    font-size: 1.31em;
    color: #FFFFFF;
    margin-left: auto;
    align-self: flex-end;
  }
}