.values-item {
  padding-left: clamp(20px, 1.060rem + 0.78vw, 30px);
  border-left: 1px solid #CAFF33;

  &__title {
    font-weight: 500;
    font-size: clamp(30px, 1.344rem + 2.18vw, 58px);
    color: #4C4C4D;
    margin-bottom: clamp(14px, 0.572rem + 1.24vw, 30px);
  }

  &__text {
  }
}
