.vision {

		&__container {

      @media (max-width: 1240px) {
        text-align: center;
      }
		}

		&__title {
		}

		&__text {
		}

		&__content {
      display: flex;
      flex-direction: column;
      gap: 50px 0;
      margin-top: clamp(60px, -3.877rem + 8.47vw, 80px);

      @media (min-width: 1239px) {
        .vision-item:nth-child(1) {
          margin-bottom: calc(-1 * clamp(84px, -0.852rem + 6.78vw, 100px));
        }

        .vision-item:nth-child(2) {
          flex-direction: row-reverse;
        }
  
        .vision-item:nth-child(2) .vision-item__content {
          border-right: 1px solid #CAFF33;
          border-left: none;
          padding-right: clamp(40px, -1.314rem + 4.24vw, 50px);
          padding-left: 0;
          margin-top: clamp(84px, -0.852rem + 6.78vw, 100px);
          transform: translateY(calc(-0.5 * clamp(84px, -0.852rem + 6.78vw, 100px)));
        }
      }
		}
}
