// Colors
$color-white: #FFF;
$color-black: #000;

$color-green60: #CAFF33;
$color-green65: #D1FF4C;
$color-green70: #D8FF66;
$color-green80: #E5FF99;
$color-green90: #F2FFCC;
$color-green95: #F8FFE5;
$color-green97: #FBFFF0;
$color-green99: #FEFFFA;

$color-white90: #E4E4E7;
$color-white95: #F1F1F3;
$color-white97: #F7F7F8;
$color-white99: #FCFCFD;

$color-grey10: #191919;
$color-grey11: #1C1C1C;
$color-grey15: #262626;
$color-grey20: #333333;
$color-grey30: #4C4C4D;
$color-grey35: #59595A;
$color-grey40: #656567;
$color-grey60: #98989A;
$color-grey70: #B3B3B3;
$color-grey75: #BFBFBF;